<h1>Directions!</h1>

<form action="/location/results">
<!--form action tells the button what the next page should be when user hits submit-->

<input id="xyz" name="highways" type="checkbox">
<label for="xyz">Avoid Highways</label>
<label for="origin">Enter a Origin City:</lablel>
<input id="origin" name="origin" type="text">

<label for="destination">Enter a Destination City:</label>
<input id="destination" name="destination" type="text">

<input type="submit">

</form>
